<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--先声明dao-->
    <bean id="customerdao" class="com.cy.heberate.dao.CustomerDaoImpl"/>
    <bean id="customerservice" class="com.cy.heberate.service.CustomerServiceImpl">
        <property name="customerdao" ref="customerdao"/><!--添加引用-->
    </bean>
</beans>